
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #525251;
    font-size: larger;
    font-weight: 545;
    background-color: #f0f7fa;

    
}

.navbar{
    margin-top: 20px;

}
nav ul {
    padding-bottom: 20px;
    background-color: #f0f7fa;
}
.icon {
    width: 15px;
    height: 15px;
}

#id1 li a {
    padding-left: 30px;
    color: black;
}
#id1 li a:hover {
    color: #06805E;
    text-decoration:underline;
}

.row10col1 {
    margin-top: 200px;
    text-align: center;
}


.im {
    width: 650px;
}
.row2{
    padding-top: 25px;
}
.r2c1,
.r8c1 {
    background-image:url("../image/supplies1.jpg");
    height: 290px;
    color: #f8f8f2;
    text-align: center;
    padding-top: 115px;
    font-size: 2.25rem;
}


.row3 {
    margin-top: 30px;
}

.row4,
.row5,
.row6,
.row7,
.row9 {
    margin-top: 30px;
}

.r9c1 {
    text-align: right;
}

a {
    color: #525251;
}

a:hover{
    color: #06805E;
    text-decoration: none;
}
h1{
    font-weight: 400;
    letter-spacing: .04em;
}
.elda{
    font-weight: 700;
    letter-spacing: .1em;
    padding-left: 55px;
    background-color: #f0f7fa;
}