
body {
    background-color: #f0f7fa;
    font-family: Arial, Helvetica, sans-serif;
    color: #525251;
    font-size: larger;
}
.navbar{
    margin-top: 20px;

}
nav ul {
    padding-bottom: 20px;
    background-color: #f0f7fa;
}
h1{
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-family: lora,sans-serif;
    line-height: 1.25;
}
.icon {
    width: 15px;
    height: 15px;
}
.row2{
    margin-top: 30px;
    font-size: 31.875534px;
    font-family: 'Times New Roman', Times, serif;
}
.row3{
    margin-top: 60px;
}
.row4{
    margin-top: 150px;
}
.footer{
    margin-top: 200px;
    text-align: center;
}
.elda{
    font-weight: 700;
    letter-spacing: .1em;
    padding-left: 55px;
    background-color: #f0f7fa;
}
.im{
    width: 160px;
    height: 90px;
}
#id1 li a{
    padding-left: 30px;
    color: black;
}
#id1 li a:hover{
    color: #06805E;
    text-decoration:underline;
}
a{
    color: #525251;
}
a:hover{
    color: #06805E;
    text-decoration: none;
}