body {
    background-color: #f0f7fa;
    font-family: Arial, Helvetica, sans-serif;
    color: #525251;
    font-size: larger;
}
.navbar{
    margin-top: 20px;

}
nav ul {
    padding-bottom: 20px;
    background-color: #f0f7fa;
}
h1{
    font-weight: 400;
    letter-spacing: .04em;
    color: #172a3a;
    font-size: 2.25rem;
    line-height: 1.25;
}

.icon {
    width: 15px;
    height: 15px;
}

#id1 li a {
    padding-left: 30px;
    color: black;
}
#id1 li a:hover{
    color: #06805E;
    text-decoration:underline;
}

 a{
    color: #525251;
}
a:hover{
    color: #06805E;
    text-decoration: none;
}
.elda{
    font-weight: 700;
    letter-spacing: .1em;
    padding-left: 55px;
    background-color: #f0f7fa;
}


.row3 {
    margin-top: 50px;
}
.r3c1{
    text-align: left;
}
.r4c1{
    text-align: center;
    margin-top: 100px;
}
a {
    color: #525251;
}


    